<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Make-up and skin care recomandation">
    <meta name="keywords" content="project, web, HTML, CSS, JavaScript, make-up, eyeshadow, skin care ">
    <meta name="author" content="Coteanu Andra-Maria, Hrib Ecaterina-Nicoleta, Marele Carina-Ioana">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentatie Ivy Make-up and Skin care</title>
    <link rel="stylesheet" type="text/css" href="styles/doc.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
</head>

<body>
    <div class="banner">
        <img src="https://w3c.github.io/scholarly-html/scholarly-html.svg" width="227" height="50" alt="Scholarly HTML logo">
        <div class="status">Web Technologies (A3 x A4) Project</div>
    </div>

    <header>
        <h1 class="title">Documentatie Ivy Make-up and Skin care</h1>
    </header>

    <div role="contentinfo" style="font-size:1vw">
        <section typeof="sa:AuthorList">
            <h2>Autori</h2>
            <ul>
                <li> Coteanu Andra-Maria <a class="autori"
                        href="mailto:andra.coteanu@gmail.com">andra.coteanu@gmail.com</a> </li>
            </ul>
            <ul>
                <li> Hrib Ecaterina-Nicoleta <a class="autori"
                        href="mailto:ecaterina.hrib@gmail.com">ecaterina.hrib@gmail.com</a> </li>
            </ul>
            <ul>
                <li> Marele Carina-Ioana <a class="autori"
                        href="mailto:carina.marele.ioana@gmail.com">carina.marele.ioana@gmail.com</a> </li>
            </ul>
        </section>

        <section>
            <h1>Cuprins</h1>
            <div class="cuprins">
                <ol role="directory">
                    <li class="no-number"><a href="#introducere"><span>1. </span>Descrierea generala a proiectului</a>
                    </li>

                    <li class="no-number"><a href="#frond-end"><span>2. </span>Front-End</a>
                        <ol role="directory">
                            <li class="no-number"><a href="#main-page"><span>2.1. </span> Home Page </a></li>
                            <li class="no-number"><a href="#search-page"><span>2.2. </span> Search Page </a></li>
                            <li class="no-number"><a href="#skin-page"><span>2.3. </span> Skin care quiz Page </a></li>
                            <li class="no-number"><a href="#login-page"><span>2.4. </span> Login / Sign-up Page </a>
                            </li>
                            <li class="no-number"><a href="#myacc-page"><span>2.5. </span> My account Page </a></li>
                            <li class="no-number"><a href="#admin-page"><span>2.6. </span> Admin Page </a></li>
                            <li class="no-number"><a href="#responsive-page"><span>2.7. </span> Responsive </a></li>
                        </ol>
                    </li>

                    <li class="no-number"><a href="#Back-End"><span>3. </span> Back-End </a>
                        <ol role="directory">
                            <li class="no-number"><a href=""> TBD </a></li>
                        </ol>
                    </li>

                    <li class="no-number"><a href="#Etaoe-dezv"><span>4. </span>Etape de dezvoltare</a>
                        <ol role="directory">
                            <li class="no-number"><a href="#etapa1"><span>4.1. </span> UI/UX </a></li>
                            <li class="no-number"><a href="#etapa2"><span>4.2. </span> Front-End </a></li>
                            <li class="no-number"><a href="#etapa3"><span>4.3. </span> Server </a></li>
                            <li class="no-number"><a href="#etapa4"><span>4.4. </span> Back-end </a>
                            </li>
                            <li class="no-number"><a href="#etapa5"><span>4.5. </span> Testare manuala </a></li>
                            <li class="no-number"><a href="#etapa6"><span>4.6. </span> Documentatia </a></li>
                        </ol>
                    </li>

                    <li class="no-number"><a href="#References"><span>5. </span>References</a>
                        <ol role="directory">
                            <li class="no-number"><a href=""> TBD </a></li>
                        </ol>
                    </li>

                </ol>
            </div>
        </section>

        <section id="introducere" role="doc-intro">
            <h2> 1. Descrierea generala a proiectului </h2>
            <p>
                Ivy este o aplicatie web care pune la dispozitie utilizatorului o gama larga de produse si sfaturi de
                utilizare pentru  Makeup& Products. Utilizatorii pot afla firme de produse Makeup si noi trenduri de Makeup, dar
                si ce produse este recomandat sa foloseasca in functie de tenul si dorintele lor.
            </p>
            <p>
                Aplicatia este destinata pentru oricine cu un minim interes fata de aceste subiecte, astfel chiar si cei
                la inceput de drum sa se poata bucura la fel de mult de aplicatie ca si cineva cu ani de experienta in
                domeniul de beauty.
            </p>
        </section>

        <section id="frond-end">
            <h2> 2. Front-End </h2>
            <p> Interfata grafica este sub forma unei pagini web in care s-a folosit HTML5, CSS3 si Javascript. Acestea
                sunt dispuse in mai multe pagini responsive, care pot fi accesate dintr-o bara de navigare aflata in
                partea de sus a fiecarei pagini care poate varia in functie de tipul de utilizator: user sau admin.</p>
            <section id="main-page">
                <h2> 2.1. Home Page </h2>
                <p> Home page integreaza 3 pagini web:
                <ul>
                    <li> Landing page </li>
                    <li> About Us </li>
                    <li> Contact </li>
                </ul>
                </p>
                <p> Landing page - este pagina de bun venit si contine logo-ul si motto-ul acestei aplicatii. </p>
                <p> About Us - contine descrierea misiunii, a comunitatii si scopul nostru. </p>
                <p> Contact - este un formular de contact pentru doritori de detalii, feedback constructiv sau pentru
                    propuneri smart. </p>
                <p>
                    In prim plan pagina are ca scop promovarea self awareness, self love chiar si cand vine vorba de
                    ingrijirea tenului.
                    UI&UX sunt cat mai atractive, tocmai deoarece este o aplicatie web de frumusete si ingrijire si
                    astfel ne promovam scopul chiar din aspectul site-ului nostru.
                </p>
            </section>

            <section id="search-page">
                <h2> 2.2. Search Page </h2>
                <p>
                    Aceasta poate fi accesata din bara de navigare aflata pe toate celelalte pagini si are ca scop
                    fluidizarea informatiilor.
                </p>
                <p>
                    La acesarea search page-ului sunt afisate toate produsele existente pe site. Ele pot fi filtrate
                    dupa bunul plac al utilizatorului cu ajutorul meniului de sortare din partea stanga a ecranului.
                </p>
            </section>

            <section id="skin-page">
                <h2> 2.3. Skin care quiz Page </h2>
                <p> Formularul pentru skin care are ca rol oferirea de indicatii in legatura cu diversele tipuri de ten.
                    Rezultatul quiz-ului vor fi 2 liste de ingrediente: una cu ingredientele recomandate si una cu
                    ingredientele de evitat.
                </p>
            </section>

            <section id="login-page">
                <h2> 2.4. Login / Sign-up Page </h2>
                <p>
                    Pentru a salva preferintele utilizatorului sau raspunsul formularelor, cat si history-ul acestuia,
                    avem pagina de login pentru a se conecta in aplicatie.
                    Daca acesta nu are cont exista butonul de register care ii va afisa un formular unde trebuie sa
                    completeze datele personale.
                    Cand acesta va apasa butonul de "Login" va fi redirectionat catre pagina "My Account".
                </p>
            </section>

            <section id="myacc-page">
                <h2> 2.5. My account Page </h2>
                <p>
                    Pagina "My Account" afiseaza datele trecute in formularul de sign-up, iar utilizatorul poate sa isi
                    modifice setarile contului (pentru care va avea in mod evidnt nevoie de parola contului sau).
                    Pentru a schimba parola utilizatorul are butonul "Change password" unde va trebui sa confirme parola
                    nou cat si cea veche pentru actualizare.
                </p>
            </section>

            <section id="admin-page">
                <h2> 2.6. Admin Page </h2>
                <p> Admin page are mai multe functionalitati specifice administratorului aplicatiei:
                <ul>
                    <li> adaugarea de produse+makeups noi </li>
                    <li> eliminarea unor produse+makeups existente </li>
                    <li> modificarea produselor+makeups existente </li>
                    <li> vizualizarea feedbackurilor </li>
                </ul>
                </p>
            </section>

            <section id="responsive-page">
                <h2> 2.7. Responsive </h2>
                <p>
                    Paginile incluse in aplicatia web sunt responsive (pana la dimensiunea de 280 pixeli - dimensiunea
                    celui mai ingust telefon) cu ajutorul unor serii de media queries in CSS3.
                </p>
            </section>
        </section>

        <section id="Back-End">
            <h2> 3. Back-End </h2>
            <section id="responsive-page">
            <h2> 3.1 Tehnologii folosite</h2>
            <p> Pentru realizarea serverului de backend am folosit ca limbaj de scripting NodeJS, ca baza de date MongoDB cu suport in NodeJS cat si AJAX</p>
         </section>
         <section id="responsive-page">
            <h2> 3.2 Motivatia pentru care le-am folosit</h2>
            <p> NodeJS are suport pe o gama larga de functionalitati prin pachetele npm(node packet manager), iar pentru alegerea bazei de date, ne-am gandit ca arhitectura bazei de date ar fi mai accesibila daca am apela la o baza de date nonrelationala, si acest lucru a adus si un bonus pentru unul din criteriile bonus ale proiectului acela de  SQL Injection, iar AJAX pentru display-ul pe frontend a informatiilor prelucrate in backend. </p>
         </section>
         <section id="responsive-page">
            <h2> 3.3 Conventii </h2>
            <p> Pentru arhitectura pe fisiere si functionalitati am folosit design patternul arhitectural MVC sau sub denumirea lunga model-view-controller. am folosit in conexiunea HTTP si request manage prin REST API.</p>
         </section>
         <section id="responsive-page">
            <h2> 3.4 Hosting </h2>
            <p> Am ales sa lucram cat mai mult pe cloud deoarece sansele ca acelasi cod sa aibe rezultate diferite local sunt mari, iar pentru o testare si deveopment in paralele a anumitor functionalitati in paralel pe langa MongoDB am ales sa folosim si suportul lor de cloud Atlas unde am creat clusterul pentru baza de date, si am adugat colectii si documente noi in functiile de entitatile din proiect. </p>
            <p>Am folsit imgur pentru hostarea imaginilior prezente in proiect.</p>
            <p> Iar pentru ca initial gandisem ca imaginile si baza de date sa fie in cloud pentru prevenirea unor erori si piedici nedorite, am incercat si sa facem pasul catre urcarea intregului proiect .</p>
                <p>In deployment am folosit Docker si Heroku, am creat un container pe Docker, cu imaginea proiectului si specificatiile, iar in Heroku am pasat containerul creat in Docker si am legat de branch-ul principal din repository-ul proiectului astfel incat orice modificare facuta dupa deploy sa consiste si in buidlul de Heroku.</p>
        </section>
        <section id="responsive-page">
            <h2> 3.5 Functionalitati si structura </h2>
            <p> Proiectul are 4 entitati prima fiind cea de user, a doua makeups, a treia products, iar a patra feedback area.</p>
            <p>Site-ul trebuie sa ofere sfaturi legate de frumusete si machiaje in functie de diferite tipuri de filtrare, varsta, culoare, tip de piele etc.  </p>
            <p>Register cu cookie si token</p>
            <p>Makeups  si display de produse in functie de preferinta impreuna cu sfaturi</p>
            <p>Filter si display in diferite formate(HTML, PDF, RSS) in functie de numarul de clickuri ale utilizatorului.</p>
            <p>Admin pentru manage de produse si makeups, cat si de vizualizare a feedbackurilor</p>
            <p>CRUD operations pe makeups si products</p>
        </section>
        </section>

        <section id="Etape-dezv">
            <h2> 4. Etape de dezvoltare </h2>
            <section id="etapa1">
                <h5> Prima etapa de dezvoltare a constat in deciderea tematicii siteului pentru UI/UX.</h5>
                <p> Tema aleasa a fost pastel colors pentru a atrage cat mai multe persoane interesate de makeup prin aspectul aplicatiei.</p>
            </section>
            <section id="etapa2">
                <h5> A doua etapa de dezvoltare a constat in realizarea front-end-ului aplicatiei cat si paginile utilizate. </h5>
            </section>
            <section id="etapa3">
                <h5>A treia etapa a fost hotarararea arhitecturii, si a limbajului folosit cat si structura bazei de date.</h5>
            </section>
            <section id="etapa4">
                <h5>A patra etapa a fost dezvoltarea proiectului.</h5>
            </section>
            <section id="etapa5">
                <h5>Etapa 5 a fost hostarea.</h5>
            </section>
            <section id="etapa6">
                
                <p> Contributiile autorilor au fost: </p>
                <ul>
                    <h1> Coteanu Andra: </h1> <li>Makeup: a search page + filters that suggest makeup based on prefferences</li>
                <li> Products: a search page + filters that shows the products suggested in more detail,</li>
            <li>Admin home page: the page for admins that will redirect them to ohter admin pages </li>
                     <h1>Hrib Ecaterina: </h1> <li>Landing page: home, about us, contact,</li>
                <li>  Makeup+products: sort + top,</li>
            <li> Account: see your account details and edit them,</li>
        <li>  Admin feedback: here the admin will see the messages the users left in the contact area  </li>
                   <h1> Marele Carina: </h1> <li>Login / Register (as the name suggest, or if you are already logged, this will be the logout button),</li>
                    <li>  Admin products: see, edit, delete or add new products by admin</li>
                    <li>  Admin makeup: see, edit, delete or add new makeup by admin</li>
                    </li>
                </ul>
            </section>

        </section>

        <section id="References">
            <h2> 5. References </h2>
            <p> Informatiile despre produse au fost luate de pe: </p>
            <ul>
                <li> <a href="https://makeupshop.ro/"> Makeup Shop </a> </li>
                <li> <a href="https://www.notino.ro/produse-pentru-machiaj/"> Notino </a> </li>
            </ul>

        </section>
    </div>
</body>

</html>
