body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #6D6875;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #FEEAFA;    /* color of the scroll thumb */
    border-radius: 30px;       /* roundness of the scroll thumb */
    border: 3px solid #6D6875;  /* creates padding around scroll thumb */
}
#nav-container > nav > ul {
  list-style-type: none;
}
/* NAVIGATION */
#nav-background {
  position: fixed;
  top: 0;
  z-index: 9000;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

#nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#nav-header {
 
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}



#nav-logo {
  color: rgb(196, 161, 161);
  text-decoration: none;
}
#nav-logo:hover {
  color: #666;
}
.nav-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
}

.nav-ul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: rgb(255, 239, 239);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.nav-link:hover {
  background-color: #b796dd83;
}


/* END NAVIGATION */


/* MOBILE MENU */
@media screen and (max-width: 700px) {
 

.nav-link {
  background-color: #6918c583;
}
.nav-link:hover {
  background-color: #b796dd83;
}
  #nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  #nav-menu-button {
    padding: 1rem;
    background-color: #d09be9;
    cursor: pointer;
  }

  .nav-ul {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    direction: rtl;
    transition: max-height 400ms;
    max-height: 80vh;
  }

  .hide-ul {
    max-height: 0;
  }

  .nav-link {
    padding: 1rem 0;
    font-size: 1.3rem;
    border-bottom: 1px solid #ffe4e4;
  }


}
/* END MOBILE MENU */

/* DESKTOP MENU */
@media screen and (min-width: 701px) {

  #nav-menu-button {
    display: none;
  }
  .nav-link {
    color :rgb(255, 255, 255); 
    flex-basis: auto;
    padding: 1rem 1.5rem;
  }
}

body, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: 'Nunito',sans-serif;
}

.full-page
{
    height: 130vh;
    width: 100%;
    background: linear-gradient(to right,#685475, #6D6875, #8E9AAF, #CBC0D3, #EFD3D7);
    background-size: cover;
    background-position: center;
	position: absolute;
}

#myaccount-form
{
    display: none;
}
.form-box
{
    width:43.75em;
	height:43.75em;;
	position:relative;
    top: 6em;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:0.05em;
    overflow: hidden;
}
h2 {
    display: block;
    font-size: 1em;
    padding: 0.5em 2em;
    margin-block-start: 0.43em;
    margin-block-end: 0.43em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Nunito',sans-serif;
    color: aliceblue;
    
}
.button-box
{
    
	width: 16em;
	margin:1.2em auto;
	position:relative;
	
}
.toggle-btn
{
	padding:1em 1.6em;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
.toggle-btn1
{
	padding:1em 0em;
    margin:0em 1.859em;
    left:1em;
	cursor:pointer;
	background:transparent;
    font-size: 0.7em;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	position: absolute;
	width: 8.7em;
	height: 100%;
	background: #EFD3D7;
	border-radius: 6.25em;
	transition: .5s;
}
.input-group-account
{
	top: 6.75em;
	position:absolute;
	width:12.625em;
	transition:.5s;
}
.input-group-passwd
{
    top: 7.5em;;
	position:absolute;
	width:10.625em;
	transition:.5s;
}
.input-field
{
	width: 25em;
	padding:1em 1em;
    color: aliceblue;
	margin:5px 5em;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 0.063em solid #D9DCED;
	outline:none;
    font-family: 'Nunito',sans-serif;
	background: transparent;
}
.input-field-p
{
	width: 25em;
	padding:1em 1em;
    color: aliceblue;
	margin:1em 2em;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 0.063em solid #D9DCED;
	outline:none;
    font-family: 'Nunito',sans-serif;
	background: transparent;
}
.submit-btn
{
    width: 4em;
	padding: 0.238em 0em;
	cursor: pointer;
    font-size: 1.5em;
	display: block;
	margin: 1.5em 9em;;
	background: #EFD3D7;
	border: 0;
    box-shadow: 0.75em 0.188em 1.25em 0.125em #EFD3D7;
	outline: none;
	border-radius: 1.875em;
}

.submit-btn-p
{
    width: 4em;
	padding: 0.238em 0em;
	cursor: pointer;
	display: block;
    font-size: 1.5em;
	margin: 2em 9em;;
	background: #EFD3D7;
	border: 0;
    box-shadow: 0.75em 0.188em 1.25em 0.125em #EFD3D7;
	outline: none;
	border-radius: 1.875em;
}

#account input
{
	color:white;
	font-size: 1.125em;
}

form#passwd {
    left: 49.75em;
}
#passwd input
{
	color:white;
	font-size: 1.125em;
}


/* MOBILE MENU BIG */
@media screen and (min-width:480px) and (max-width: 700px) {

.full-page
{
    height: 150vh;
    width: 100%;
    background: linear-gradient(to right,#685475, #6D6875, #8E9AAF, #CBC0D3, #EFD3D7);
    background-size: cover;
    background-position: center;
	position: absolute;
}

  
    .myaccount {
        flex-basis: auto;
    padding: 2rem 4em;
        font-size: 3em;
        border-bottom: 1px solid #ffe4e4;
    }
   
    
.button-box
{
	width: 14em;
	margin:0em auto;
    top:3em;
    box-shadow: 0em 0em 0em 0em #000000;
	position:relative;

}
.toggle-btn
{
	padding:0em 1.7em;
    margin: 0em -0.5em;
	cursor:pointer;
    width: 4em;
    left:1em;
	background:transparent;
    text-align: center;
    font-size: 1em;
	border:0;
	outline: none;
	position: relative;
}
.toggle-btn1
{
	padding:0em 0em;
    margin:0em 1.8em;
    left: 5em;
	cursor:pointer;
    width: 3em;
	background:transparent;
    text-align: left;
    font-size: 1em;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	
	position: absolute;
	width: 7em;
    margin: 0 0.9em;
	height: 100%;
	background: #EFD3D7;
	border-radius: 2.25em;
	transition: .5s;
}
    
    
#myaccount-form
{
    display: none;
}
.form-box
{
    width:30.75em;
	height:50.75em;;
	position:relative;
    top: 7em;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:0.05em;
    overflow: hidden;
}

    h2 {
    display: block;
    font-size: 1.5em;
    padding: 0.5em 0em;
        width: 10em;
    margin-block-start: 0.43em;
    margin-block-end: 0.43em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Nunito',sans-serif;
    color: aliceblue;
    
}
.input-group-account
{
	top: 7.75em;
	position:absolute;
	width:25.625em;
	transition:.5s;
    left: 1.25em;
    margin: 2px 0;
	
}
.input-group-passwd
{
    top: 8.5em;;
	position:absolute;
	width:30.625em;
	transition:.5s;
}
    .input-field
{
	width: 10em;
	padding:0 0;
	margin:0 0em;
    color: aliceblue;
    left: inherit;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 0.063em solid #D9DCED;
	outline:none;
	background: transparent;
}
    .input-field-p
{
	width: 7em;
	padding:0 0;
    color: aliceblue;
	margin:1.4em 1.5em;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 0.063em solid #D9DCED;
	outline:none;
    font-family: 'Nunito',sans-serif;
	background: transparent;
}
.submit-btn
{
    width: 4em;
	padding: 0.238em 0em;
	cursor: pointer;
	display: block;
	margin: 2em 5em;
	background: #EFD3D7;
	border: 0;
    font-size: 1.5em;
    box-shadow: 0.75em 0.188em 1.25em 0.125em #EFD3D7;
	outline: none;
	border-radius: 1.875em;
}
    
    .submit-btn-p
{
    width: 4em;
    padding: 0.338em 0em;
	cursor: pointer;
	display: block;
	margin: 2em 6em;
	background: #EFD3D7;
	border: 0;
    font-size: 1.3em;
    box-shadow: 0.75em 0.188em 1.25em 0.125em #EFD3D7;
	outline: none;
	border-radius: 2.875em;
}

#account input
{
	color:white;
	font-size: 2.125em;
}

#passwd input
{
	color:white;
	font-size: 2.125em;
}
}
/* END MOBILE MENU BIG*/


/* MOBILE MENU */
@media screen and (max-width: 480px) {


.full-page
{
    height: 110vh;
    width: 100%;
    background: linear-gradient(to right,#685475, #6D6875, #8E9AAF, #CBC0D3, #EFD3D7);
    background-size: cover;
    background-position: center;
	position: absolute;
}

    .myaccount {
        flex-basis: auto;
    padding: 1rem 1.5rem;
        border-bottom: 1px solid #ffe4e4;
    }
  
    
    
    
#myaccount-form
{
    display: none;
}
.form-box
{
    width:14.75em;
	height:28.75em;;
	position:relative;
    top: 8em;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:0.05em;
    overflow: hidden;
}

    
.button-box
{
	width: 10em;
	margin:1.2em -0.7em;
	position:relative;
	box-shadow: 0em 0em 0em 0em #EFD3D7;
	border-radius: 1.175em;
}
.toggle-btn
{
	padding: 0.9em;
    left:3.5em;
	cursor:pointer;
	background:transparent;
	border:0;
    width: 3em;
    text-align: center;
    font-size: 0.7em;

	outline: none;
	position: relative;
}
    .toggle-btn1
{
	padding:0.2em;
    left:9.5em;
	cursor:pointer;
	background:transparent;
    text-align: center;
    font-size: 0.7em;
    width: 3em;
	border:0;
	outline: none;

	position: relative;
}
 
#btn
{
	top: 0;
	margin: 0em 2em;
	position: absolute;
	width: 5em;
	height: 100%;
	background: #EFD3D7;
	border-radius: 6.25em;
	transition: .5s;
}
.input-group-account
{
	top: 4.75em;
    left: 0em;
	width:7.5em;
	transition:.5s;
}
.input-group-passwd
{
    top: 4.5em;;
    left: 10em;
	position:absolute;
	width:7.5em;
	transition:.5s;
}
.input-field
{
	width: 10em;
	padding:0 0em;
	margin:0.4em -2em;
    color: aliceblue;
    left: inherit;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 0.063em solid #D9DCED;
	outline:none;
	background: transparent;
}
    h2 {

    padding: 0em 0em;
    font-size: 1em;
    width: 10em;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Nunito',sans-serif;
    color: aliceblue;
    
}
     .input-field-p
{
	width: 8em;
	padding:0em 0;
    color: aliceblue;
	margin:2em -1em;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 0.063em solid #D9DCED;
	outline:none;
    font-family: 'Nunito',sans-serif;
	background: transparent;
}
.submit-btn
{
    width: 6em;
	padding: 0.438em 1.25em;
	cursor: pointer;
	display: block;
	margin: 2em 1em;
	background: #EFD3D7;
	border: 0;
    box-shadow: 0.75em 0.188em 1.25em 0.125em #EFD3D7;
	outline: none;
	border-radius: 1.875em;
}
       
    .submit-btn-p
{
    width: 6em;
	padding: 0.438em 1.25em;
	cursor: pointer;
	display: block;
	margin: 0.5em 1em;
	background: #EFD3D7;
	border: 0;
    box-shadow: 0.75em 0.188em 1.25em 0.125em #EFD3D7;
	outline: none;
	border-radius: 1.875em;
}

#account input
{
	color:white;
	font-size: 1.125em;
}

#passwd input
{
	color:aliceblue;
     left: 28.25em;
	font-size: 1.2em;
}
    
}
